* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans Code", monospace;
  color: #ebebeb;
}

body {
  background-color: #181818;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
}

button {
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  background: linear-gradient(
    90deg,
    rgba(132, 53, 222, 1) 0%,
    rgba(184, 84, 232, 1) 100%
  );
  border-radius: 3rem;
  border: 3px solid #ebebeb;
  transition: 0.5s;
  opacity: 0.9;
}

button:hover {
  color: #fff;
  border: 3px solid #fff;
  opacity: 1;
}
